html {
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
*, *::after, *::before {
    box-sizing: inherit;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
li {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.header-profile {
    width: 100%;
    margin: 40px 0 40px;
}
.foto {
    width: 10%;
    display: flex;
}
.job {
    width: 25%;
    text-align: center;
}
.nav {
    width: 65%;
    display: flex;
    justify-content: right;
    padding-top: 1%;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.nav-item{
    padding-right: 2rem;
    list-style-type: none;
}
.nav-item:last-child {
    padding-right: 0;
}
.nav-item:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 26px;
    width: 0px; 
    border-bottom: solid 2px black;
    transition: all 0.5s ease-in-out;	
}
.elem {
    font-weight: bold;
}
.column {
    width: 40%;
}
.code {
    font-style: italic;
    font-weight: bold;
}
.nav2, .nav3, .nav4, .nav5 {
    font-style: italic;
}
.footer-rsschool {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 40px 0 40px;
}
.footer-GitHub {
    width: 18%;
    display: flex;
    justify-content: right;
}


