header {
    display: flex;
    justify-content: center;
}

main { 
    margin: 0 auto;
    display: flex;
    margin-left: 50px;
}

footer {
    width: 100%;
    display: flex;
    justify-content:space-around;
}

.column {
    width: 50%;
}

.code {
    font-style: italic;
    font-weight: bold;
}

li {
    font-weight: bold;
}

.nav2, .nav3, .nav4, .nav5 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: block;
    align-items: center;
    flex-wrap: wrap;
}

.footer6 {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav2, .nav3, .nav4, .nav5 {
    font-weight: bold;
}