html {
    box-sizing: border-box;
    scroll-behavior: smooth;
} 
*, *::after, *::before {
    box-sizing: inherit;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main {
    margin-bottom: 40px;
}
li {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.header-profile {
    margin: 40px 0 40px;
}
.header-img {
    width: 10rem;
}
.header-job {
    text-align: center;
    margin: 40px 0 0;
}
.nav {
    display: flex;
    justify-content: right;
    padding-top: 1%;
}
.nav-list {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding: 0;
}
.nav-item{
    list-style-type: none;
    padding-right: 2rem;
}
.nav-item:last-child {
    padding-right: 0;
}
.grid {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column {
    max-width: 40%;
}
.footer-rsschool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 40px;
}
.footer-logo {
    width: 6.5rem;
}
.footer-year {
    margin: 0 20px;
    text-align: center;
}
.footer-GitHub {
    width: 3rem;
}


